.note-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.add{
    background-color: rgba(43, 40, 40, 0.795);
    border: 2px dashed green;
    border-radius: 12px;
    width: 210px;
    height: 100%;
    padding: 10px;
    margin: 12px;
}
.save-btn{
    padding: 5px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 30px;
}
.save-btn:hover{border: 1px solid rgb(167, 164, 164);}
textarea{
    border: none;
    background-color: #222;
    resize: none;
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px;
    width: 100%;
}
textarea:focus{outline: none;}
.bottom-note{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.date-save{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}
.clearAll{
    background-color: transparent;
    border: 2px solid lightgray;
    color: whitesmoke;
    padding: 6px;
    width: 50%;
    margin-top: 10px;
    border-radius: 15px;
}
.clear-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}
.colors{
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}
.colors button{
    padding: 5px;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
}
.blue{
    background-color: rgb(47, 47, 168);
    color: #fff;
    cursor: pointer;
}
.red{
    background-color: rgb(168, 47, 47);
    color: #fff;
    cursor: pointer;
}
.green{
    background-color: rgb(53, 168, 47);
    color: #fff;
    cursor: pointer;
}

#blue{
    background-color: rgb(47, 47, 168);
    color: #fff;
}
#red{
    background-color: rgb(168, 47, 47);
    color: #fff;
}
#green{
    background-color: rgb(53, 168, 47);
    color: #fff;
}